.submit{
    margin: 1em;
}
.submit button{
    padding: 1em;
    width: 10em;
    border: none;
    background-color: #8BC53F;
    border-radius: 2em;
    font-weight: 800;
    color: white;

}

.send_request_form form input{
    margin-top: 1em;
    padding-left: 0.5em;
    border-radius: 1em;
    border-style: none;
    background-color: rgba(128, 128, 128, 0.165);
}

.send_request_inputs{
    display: flex;
    flex-direction: column;
}

#note_input{
    min-width: 20em;
    min-height: 4em;
    
}