
*{
    font-family:'Roboto'; 
}

body{
    margin: 0px;
    padding: 0px;
    
    background-color: rgb(249, 250, 249);
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

body header{
    width: 100%;
    max-width: 110em;
    min-width: 50em;
    margin-top: 1em;
  
}

body .main_app_container{
    max-width: 105em;
    min-width: 50em;
}

/* HEADER */
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
}

/* HEADER-NAVBAR */
.main_header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: linear-gradient(to right,#009F47,#8BC53F);
    border-radius: 1.5em;   
   
}

.nav_logo{
    display: flex;
    align-items: center;
    margin: .5em;
    
}

.nav_logo img{
    border-radius: 1.24em;
    width: 4em;
}

.nav_logo h1{
    margin-left: 1em;
    color:white;
    font-weight: 400;
    font-style: italic;
}

.nav_buttons{
    height: 100%;
}

.nav_buttons ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-right: 1em;
    height: 100%;
    list-style: none;
 
}

.nav_buttons ul li{
    margin-left: 1em;
    padding: 1em;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.19);
    border-radius: 2em;

}

.nav_buttons ul li:hover{
    background-color: grey;
    transition: background-color 1s;
}


.nav_buttons ul li a{
    color: white;
    text-decoration: none;
    font-size: larger;
}


/* MAIN APP CONTAINER */
.main_app_container{
    display:flex;
    justify-content: center;
    
    background-color: grey;
    height: 100%;
    width: 100%;

    
    

}

/* MAIN CONTENT */


.main_content{
    flex: 2;
    background-color: rgba(214, 212, 209, 0.719);
    display: flex;
    flex-direction: column;
}

.main_content p{
    margin-left: 1em;
}









/* SIDEBAR */

.sidebar{
    flex: 1;
    width: 100%;
    display: flex;
    background-color: rgb(137, 131, 132);
    justify-content: start;
    flex-direction: column;
    
}


/* QUICK ACTIONS */


.quick_actions{
    margin-left: 1em
}

.quick_actions p{
    font-size: larger;
    font-weight: 800;
    font-style: italic;
}




/* ACTIVITY */

.activity table{
    border-collapse: collapse;
    
    margin-top: 1em;
    margin-left: 1em;
    width: 25em;
}

.activity table tbody{
    width: 100%;
    flex-grow: 1;
}

.activity tr{
    height: 2.55em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);

}

/* .activity table tr:nth-child(even){background-color: #f2f2f2;} */

.activity table tr:hover {background-color: #ddd;}

#table_title{
    margin-left: 1em;
    font-size: larger;
    font-weight: 800;
    font-style: italic;
}






