body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.gradient-custom {
    background: linear-gradient(to right,#009F47,#BED630)
    }

.login_container{
    display: flex;
    border-radius: 2em;
    max-width: 70em;
    width: 60em;
    min-width: 40em;
    background-color: white;
}
.logo{
    display: flex;
    
    height: auto;
    justify-content: center;
    align-items: center;
    flex: 2;
}
.logo img{
    width: 20em;
}
.login_card{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 50%;
}
.btn-outline-success:hover {
    background-color: #50B748 !important;
    border-color: #50B748 !important ;
    color: white !important;
}
.btn-outline-success{
    border-color: #CED4DA !important;
    color: #50B748 !important;
}
.bootstrap_container{
    height: 50%;
}

.fw-bold{
    color: #50B748 !important;
    font-family:'Roboto'; 
    font-style: italic;
}

#sign_up:hover{
    color:#009F47 !important;
}

.register_container{
    display: flex;
    border-radius: 2em; 
    min-width: 20em;
    background-color: white;
    flex-direction: column;
    
}

.register_form_container{
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.register_form_header{
    display: flex;
    margin: 1em;
    align-items: center;
}

.register_logo{
    display: flex;
    justify-content: center;
    flex: .5;
}

.register_logo img{
    width: 55%;
}

.discription{
    display: flex;
    justify-content: start;
    padding-left: 1.5em;
    font-family: 'Roboto';
    font-style: italic;
    color: #212529d6;

}

.discription p {
    margin: 0;
}



.register_text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: xx-large;
    font-style: italic;
    color: #50B748;
    margin-left: 0em;
    flex: 2;
}

.register_form_container input{
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: .5em;
    margin-bottom: .5em;
    min-height: 1em ;
    padding: 0.5rem 0.2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    appearance: none;

}


.register_form_container label{
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
    color: #21252991;
   
    padding-right: .5em;
}

.register_form_container input:focus{
    border-color: rgb(88, 87, 87);
    outline: none !important;

    background-color: rgba(128, 128, 128, 0.215);
    transition: border-color .5s ease-in-out,background-color .5s ease-in-out;

}

.first_last{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.first_last input{
    flex:1;
    width: 45%;
    padding: .75em;
    
}
.register_button{
    display: flex;
    justify-content: center;
    
}

.register_button button{
    border-color: #fff ;
    border: solid;
    border-radius: .65em;
    border-width: .15em;
    font-size: larger;
    padding: .55em;
    color: #50B748 ;
    background: transparent;
    text-decoration: none;
    transition: background-color .5s ease-in-out;
    
}

.register_button button:hover{
    background-color: #50B748 !important;
    border-color: #50B748 !important ;
    color: white !important;
    transition: background-color .5s ease-in-out;
}

.register_button button{
    margin-top: 1em;
    width: 50%;
    /* add button styling here */
}

#first_name_input{
    margin-right: .1em;
}
#last_name_input{
    margin-left: .1em;
}

#birth_date_input{
    color:#757575;
    padding: 0;
    padding-left: .2em;
}

   