
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: main_html_head"></head>

<body style="background-color: #4ba1723e ;">

<header th:replace="fragments :: main_header" class="main_header"></header>



<div class="card">

    <h3 th:text="'Conversation with ' + ${otherUser.firstName}">Conversation with ????</h3>
    <!-- for each class="message_list" justify content space between these two divs -->
        <!-- DateTime / Name /  -->
        <!-- message text -->




    <div  class="message_list" th:if="${messages}" th:each="msg: ${messages}">
        
        <div class="message_info">
            <p th:text="${msg.name} + ' @ ' + ${#dates.format(msg.createdDate,'hh:mm a MM/dd/yyyy')}"></p>
        </div>
        <div class="message_text">
            <p th:text="${msg.text}"></p>
        </div>

    </div> 
    
    <div class="send_form">

        <form method="post" th:object="${messageDTO}">
            <input type="text" placeholder="Message" th:field="*{text}">

            <div class="register_button">
                <button class="" type="submit">Send</button>
            </div>    
        </form>

    </div>

</div>

</body>

</html>