<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login-register.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400;1,500;1,700&display=swap');
    </style>
    <title>Register</title>
</head>

<body class="gradient-custom">


    <div class="register_container">
        <div class="register_form_header">
            <div class="register_logo">
                <img src="images/Favicon.png" alt="logo">
            </div>

            <div class="register_text">
                <p>Welcome to VenPalMo </p>
            </div>
        </div>
        <div class="discription">
            <p>Create an Account:</p>
        </div>
        <form class="register_form_container" onsubmit="register(event)">
            <div class="first_last">
                <input type="text" id="first_name_input" placeholder="First Name" />
                <input type="text" id="last_name_input" placeholder="Last Name" />
            </div>

            <input type="email" id="email_input" placeholder="Email" />
            <input type="password" id="password_input" placeholder="Password" />
            <input type="password" id="password_confirm_input" placeholder="Confirm Password" />
            <input type="phone" id="phone_input" placeholder="Phone Number" />


            <input type="text" id="address_input" placeholder="Address" />

            <div class="city_state_zip">
                <input type="text" id="city_input" placeholder="City" />
                <input type="text" id="state_input" placeholder="State" />
                <input type="text" id="zip_input" placeholder="Zip" />
            </div>

            <div class="birth_date">
                <label>Birth Date</label>
                <input type="date" id="birth_date_input" placeholder="Birth Date" />

            </div>

            <div class="register_button">

                <button class="" type="submit">Register</button>
            </div>


        </form>



    </div>

    </div>


    <script>
        function register(event) {
            event.preventDefault();

            let user = {};

            user.firstName = document.getElementById("first_name_input");
            user.lastName = document.getElementById("last_name_input");
            user.username = document.getElementById("email_input");

            user.password = document.getElementById("password_input");
            user.passwordConfirm = document.getElementById("password_confirm_input");

            user.phone = document.getElementById("phone_input");

            user.address = document.getElementById("address_input");
            user.city = document.getElementById("city_input");
            user.state = document.getElementById("state_input");
            user.zip = document.getElementById("zip_input");

            user.birthDate = document.getElementById("birth_date_input");


            if (validateUser(user)) {
                console.log("correct!")
                console.log(user);
                window.location.replace("login.html");
            }else{
                console.log("wrong!")
                console.log(user);

            }




        }

        function validateUser(user) {
            let valid = false;

            if (validateName(user)
                && validateEmail(user)
                && validatePassword(user)
                && validatePhone(user)
                && validateLocation(user)
                && validateBirthDate(user)) {
                valid = true;
            }

            return valid;
        }

        function validateName(user) {
            if (user.firstName.value != '' && user.lastName.value != '') {
                return true;
            } else {
                return false;
            }
        }

        function validateEmail(user) {
            return String(user.username.value).toLowerCase().match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        }

        function validatePassword(user){
            return user.password.value == user.passwordConfirm.value;
        }

        function validatePhone(user){
            let phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
            if(user.phone.value.match(phoneno)){
                return true;
            }else{
                return  false;
            }
        }

        function validateLocation(user){
            if (user.address.value != '' 
                && user.city.value != ''
                && user.state.value != ''
                && user.zip.value != '') {
                return true;
            } else {
                return false;
            }
        }

        function validateBirthDate(user){
            if (user.birthDate.value) {
                return true;
            }else{
                return false;
            }
        }


    </script>

</body>

</html>