
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: main_html_head"></head>

<body style="background-color: #4ba1723e ;">

<header th:replace="fragments :: main_header" class="main_header">

</header>



<div class="card">

    <div class="search_container">
        <h3>Search for User</h3>
        
        <form class="search_input" method="post" th:object="${userDTO}">
            <input type="text" placeholder="First Name" th:field="*{firstName}">
            
            <input type="text" placeholder="Last Name" th:field="*{lastName}">
            
            <input type="text" placeholder="Email" th:field="*{email}">

            <div class="search_button">
                <button class="" type="submit">Search</button>
            </div>
        </form>

        <div  class="user_list" th:if="${users}">
            <table>
              <tr th:each="user: ${users}">
                    <!-- NEED TO FORMAT/STYLE THIS LIST -->
                  <td><a th:href="@{/{searchType}/{userId} (searchType=${searchType}, userId=${user.id}) }" th:text="${user.firstName}">Test</a></td>
                  <td><a th:href="@{/{searchType}/{userId} (searchType=${searchType}, userId=${user.id}) }" th:text="${user.lastName}">Test</a></td> 
                  <td><a th:href="@{/{searchType}/{userId} (searchType=${searchType}, userId=${user.id}) }" th:text="${user.email}">Test</a></td> 
              </tr>
            </table>

        </div>

    </div>

</div>

</body>

</html>