
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: main_html_head"></head>

<body style="background-color: #4ba1723e ;">

<header th:replace="fragments :: main_header" class="main_header"></header>



<div class="card">

    <div class="send_form">

        <form method="post" th:action="@{/{sendOrRequest} (sendOrRequest=${sendOrRequest})}" th:object="${transactForm}">
    
            <h3 th:text="${pageTitle}">Send Money</h3>
        
            <input type="number" id="amount_input" placeholder="0.00" th:field="*{transactionAmount}" />
            <p class="error" th:errors="*{note}"></p> 
            
            <input type="text" id="note_input" placeholder="Add a note about your transaction here!" th:field="*{note}" />
            <p class="error" th:errors="*{note}"></p> 
            
            <input type="hidden" id="sendingUserId" th:field="*{sendingUserId}" />
            <input type="hidden" id="receivingUserId" th:field="*{receivingUserId}" />

            <div class="register_button">
                <button class="" type="submit">Register</button>
            </div>
    
        </form>
    
    
    
    
    </div>

</div>


<script type="text/javascript" th:src="@{js/home.js}"></script>
</body>

</html>