<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: main_html_head"></head>

<body>

<header th:replace="fragments :: main_header" class="main_header"></header>
   

    <div class="card">
        <form method="post" th:action="" th:object="${OBJECT}">
    
            <h3 th:text="${pageTitle}">User Settings</h3>
        
            <!-- <input type="number" id="amount_input" placeholder="0.00" th:field="*{transactionAmount}" />
            <p class="error" th:errors="*{transactionAmount}"></p> 
            <p class="error" th:if="${noFunds}" th:text="${noFunds}"></p> -->
            
            <div class="register_button">
                <button class="" th:text="${#strings.capitalize(sendOrRequest)}" type="submit"></button>
            </div>
    
        </form>
    </div>



</body>

</html>