<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">

    <!-- INTERNAL STYLE -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400;1,500;1,700&display=swap');
    </style>
    <title>Welcome</title>
</head>

<body>
<header class="main_header">
    <div></div>
    <nav>
        <div class="nav_logo">
            <img src="/resources/images/Favicon-White.png" alt="">
            <h1>Welcome, Devin!</h1>
        </div>
        <div class="nav_buttons">
            <ul>
                <li><a href="#">Settings? idk</a></li>
                <li><a href="#">🔔</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="main_app_container">

    <!-- INLINE STYLE TAG -->
    <div class="main_content" style="font-size:800; font-style:italic;">
        <p>GOOD MORNING</p>
        <br>
        <p>The weather is</p>
        <div id="loop">

        </div>
    </div>




    <div class="sidebar">

        <div class="quick_actions">
            <p>Quick Actions</p>
            <select name="quick_actions" id="quick_actions">
                <option value="Send">Send</option>
                <option value="Request">Request</option>


            </select>
        </div>

        <div class="activity">
            <table>
                <div id="table_title">
                    <p>Activity</p>
                </div>
                <tr>
                    <td>Chris C</td>
                    <td>Sent</td>
                    <td>$40</td>
                </tr>
                <tr>
                    <td>Nick T</td>
                    <td>Recieved</td>
                    <td>$1000</td>
                </tr>
                <tr>
                    <td>Tori B</td>
                    <td>Sent</td>
                    <td>$25</td>
                </tr>
                <tr>
                    <td>Lynnm H</td>
                    <td>Recieved</td>
                    <td>$50</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<script src="/resources/js/home.js"></script>
</body>

</html>