<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: main_html_head"></head>

<body>

<header th:replace="fragments :: main_header" class="main_header"></header>
   

<div class="main_app_container">

    <!-- INLINE STYLE TAG -->
    <div class="main_content" style="font-size:800; font-style:italic;">
        <p>GOOD MORNING</p>
        <br>
        <p>The weather is</p>
        <div id="loop">

        </div>

        <div sec:authorize="isAuthenticated()">WE ARE AUTHENTICATED</div>
        
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to users.
        </div>
        <div>
            User: <span sec:authentication="name">NOT FOUND</span>
            Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>
        </div>
        <div th:text="${loggedInUser}">
        <p th:text="${loggedInUser}">${loggedInUser}</p></div>

    </div>




    <div class="sidebar">

        <div class="quick_actions">
            <!-- <p>Quick Actions</p> -->
            <button><a th:href="send.html">Send</a></button>
            <button><a th:href="request.html">Request</a></button>


            
            
            <!-- <select name="quick_actions" id="quick_actions">
                <option value="Send">Send</option>
                <option value="Request">Request</option>


            </select> -->
        </div>

        <div class="activity">
            <table>
                <div id="table_title">
                    <p>Recent Activity</p>
                </div>
                <tr th:each="transaction: ${transactions}">
                    <td th:text="${transaction.user.firstName}"/>
                    <td th:text="${transaction.transactionType}"/>
                    <td th:text="${#numbers.formatCurrency(transaction.transactionAmount)}"/>
                </tr>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{js/home.js}"></script>
</body>

</html>