<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_register.css}" >
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400;1,500;1,700&display=swap');
    </style>
    <title>Register</title>
</head>

<body class="gradient-custom">


    <div class="register_container">
        <div class="register_form_header">
            <div class="register_logo">
                <img th:src="@{/images/favicon.png}" alt="logo">
            </div>

            <div class="register_text">
                <p>Welcome to VenPalMo </p>
            </div>
        </div>
        <div class="discription">
            <p>Create an Account:</p>
        </div>

        <form class="register_form_container" method="post" th:action="@{/user/register}" th:object="${userForm}">
            <div class="first_last">
                <input type="text" id="first_name_input" placeholder="First Name" th:field="*{firstName}" />
                <input type="text" id="last_name_input" placeholder="Last Name" th:field="*{lastName}" />
            </div>

            <div class="first_last">
                <p class="error" th:errors="*{firstName}"></p>
                <p class="error" th:errors="*{lastName}"></p>
            </div>

            <input type="email" id="email_input" placeholder="Email" th:field="*{email}" />
            <p class="error" th:errors="*{email}"></p>

            <input type="password" id="password_input" placeholder="Password" th:field="*{password}" />
            <p class="error" th:errors="*{password}"></p>

            <input type="password" id="password_confirm_input" placeholder="Confirm Password"
                th:field="*{confirmPassword}" />
            <p class="error" th:errors="*{confirmPassword}"></p>

            <input type="tel" id="phone_input" placeholder="Phone Number" th:field="*{phoneNumber}" />
            <p class="error" th:errors="*{phoneNumber}"></p>

            <input type="text" id="address_input" placeholder="Address" th:field="*{address}" />
            <p class="error" th:errors="*{address}"></p>

            <div class="city_state_zip">
                <input type="text" id="city_input" placeholder="City" th:field="*{city}" />
                <input type="text" id="state_input" placeholder="State" th:field="*{state}" />
                <input type="text" id="zip_input" placeholder="Zip" th:field="*{zip}" />
            </div>

            <div class="city_state_zip">
                <p class="error" th:errors="*{city}"></p>
                <p class="error" th:errors="*{state}"></p>
                <p class="error" th:errors="*{zip}"></p>
            </div>

            <div class="birth_date">
                <label>Birth Date</label>
                <input type="date" id="birth_date_input" placeholder="Birth Date" th:field="*{birthDate}" />
            </div>

            <div class="register_button">
                <button class="" type="submit">Register</button>
            </div>


        </form>



    </div>

    </div>


    <!-- <script type="text/javascript" th:src="@{js/register.js}"></script> -->


</body>

</html>